<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🎨 Do-A-Doodle Prompt History 🎨 - {{ title }}</title>
    <link rel="stylesheet" href="/public/css/doodle.css"/>
    <link rel="stylesheet" href="/public/css/styles.css"/>
    {% if css %}
        <link rel="stylesheet" href="/public/css/{{ css }}.css"/>
    {% endif %}
</head>
<body>
    <header>
        <a href="/"><img id="logo" src="/public/DaD_Logo.png" alt="Do-A-Doodle"/></a>
        <h1>Prompt History</h1>
    </header>
    <main>
        <nav>
            {% for nav in collections.nav %}
                {% if page.url == nav.url %}
                    <a>{{ nav.data.title }}</a>
                {% else %}
                    <a href="{{ nav.url }}">{{ nav.data.title }}</a>
                {% endif %}
            {% endfor %}
        </nav>
        <hr/>
        {{ content }}
    </main>
</body>
<script defer>
	const today = new Date();
	if (today.getMonth() === 9) {
		document.getElementById('logo').src = '/public/DaD_Logo_October.png';
	}
</script>
</html>
