---
layout: base.layout.liquid
css: prompt
---
<article>
    <h1>{{ date | date: "%B %Y" }} - {{ title }}</h1>
    <small>Number of Submissions: {{ submissions-count | emoji-number }}</small>
    <hr/>
    {{ content }}
    {% for img in images %}
        <img src="/public/prompt-images/{{ img }}"/>
    {% endfor %}
</article>
