---
title: 🏠 Welcome
permalink: "/"
order: 1
---
<div class="info">
    <p>
        <b>
            Welcome to the archive of past Do-A-Doodle prompts
            <br/> from the
            <a href="https://www.patreon.com/zedaphplays" target="_blank" rel="noopener noreferrer">Zedaph Patreon Discord</a>.
        </b>
    </p>
    <p>
        We've done {{ collections.prompt | prompt-amount }} prompts so far!
    </p>
    <p>
        Below are the three most recent prompts.
        <br/>To check out all the prompts, you can head to the
        <a href="/calendar">calendar view</a> (sorted from oldest to newest) or the
        <a href="/table">table view</a> (sorted from newest to oldest).
    </p>
</div>
<hr/>

{% assign recentThree = collections.prompt | prompt-recent-three %}
{% for prompt in recentThree %}
    <article>
        <h1><a href="{{ prompt.url }}">{{ prompt.date | date: "%B %Y" }} - {{ prompt.data.title }}</a></h1>
        <small>Number of Submissions: {{ prompt.data.submissions-count | emoji-number }}</small>
        <p>{{ prompt.content }}</p>
    </article>
{% endfor %}
